$light-box-bg-color: #fff;
$light-box-info-bg-color: #fff;
$light-box-info-text-color: grey;
$light-box-btns-bg-color: #fff;
$light-box-photo-bg-color: #e0e0e0;

$dark-box-bg-color: #444;
$dark-box-photo-bg-color: #545454;
$dark-box-btns-bg-color: #fff;
$dark-box-btns-bg-color: #323332;
$dark-box-info-name-text-color: #fff;
$dark-box-info-text-color: #b1b1b1;

$btn-bg-color: #e0e0e0;
$btn-text-color: #fff;

$btn-main-bg-color: #15bcd4;
$btn-main-text-color: #e0e0e0;
